@layer tokens {
    :where(:root, :host) {
  --colors-pink-10: rgba(255, 98, 145, 0.1);
  --colors-pink-20: rgba(255, 98, 145, 0.2);
  --colors-pink-40: rgba(255, 98, 145, 0.4);
  --colors-pink-60: rgba(255, 98, 145, 0.6);
  --colors-pink-80: rgba(255, 98, 145, 0.8);
  --colors-pink-100: rgb(255, 98, 145);
  --colors-purple-10: rgba(155, 101, 223, 0.1);
  --colors-purple-20: rgba(155, 101, 223, 0.2);
  --colors-purple-40: rgba(155, 101, 223, 0.4);
  --colors-purple-60: rgba(155, 101, 223, 0.6);
  --colors-purple-80: rgba(155, 101, 223, 0.8);
  --colors-purple-100: rgb(155, 101, 223);
  --colors-yellow-10: rgba(255, 194, 76, 0.1);
  --colors-yellow-20: rgba(255, 194, 76, 0.2);
  --colors-yellow-40: rgba(255, 194, 76, 0.4);
  --colors-yellow-60: rgba(255, 194, 76, 0.6);
  --colors-yellow-80: rgba(255, 194, 76, 0.8);
  --colors-yellow-100: rgb(255, 194, 76);
  --colors-ui-light-5: rgba(0,0,0,0.05);
  --colors-ui-light-10: rgba(0,0,0,0.1);
  --colors-ui-light-20: rgba(0,0,0,0.2);
  --colors-ui-light-30: rgba(0,0,0,0.3);
  --colors-ui-light-40: rgba(0,0,0,0.4);
  --colors-ui-light-50: rgba(0,0,0,0.5);
  --colors-ui-light-60: rgba(0,0,0,0.6);
  --colors-ui-light-70: rgba(0,0,0,0.7);
  --colors-ui-light-80: rgba(0,0,0,0.8);
  --colors-ui-light-90: rgba(0,0,0,0.9);
  --colors-ui-light-100: rgb(0,0,0);
  --colors-ui-dark-5: rgba(255,255,255,0.05);
  --colors-ui-dark-10: rgba(255,255,255,0.1);
  --colors-ui-dark-20: rgba(255,255,255,0.2);
  --colors-ui-dark-30: rgba(255,255,255,0.3);
  --colors-ui-dark-40: rgba(255,255,255,0.4);
  --colors-ui-dark-50: rgba(255,255,255,0.5);
  --colors-ui-dark-60: rgba(255,255,255,0.6);
  --colors-ui-dark-70: rgba(255,255,255,0.7);
  --colors-ui-dark-80: rgba(255,255,255,0.8);
  --colors-ui-dark-90: rgba(255,255,255,0.9);
  --colors-ui-dark-100: rgb(255,255,255);
  --fonts-mono: Roboto Mono, sans-serif;
  --fonts-body: Inter, sans-serif;
  --fonts-heading: Inter, sans-serif;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-ui\.5: rgba(0,0,0,0.05);
  --colors-ui\.10: rgba(0,0,0,0.1);
  --colors-ui\.20: rgba(0,0,0,0.2);
  --colors-ui\.30: rgba(0,0,0,0.3);
  --colors-ui\.40: rgba(0,0,0,0.4);
  --colors-ui\.50: rgba(0,0,0,0.5);
  --colors-ui\.60: rgba(0,0,0,0.6);
  --colors-ui\.70: rgba(0,0,0,0.7);
  --colors-ui\.80: rgba(0,0,0,0.8);
  --colors-ui\.90: rgba(0,0,0,0.9);
  --colors-ui\.100: rgb(0,0,0);
  --colors-color-palette-10: var(--colors-color-palette-10);
  --colors-color-palette-20: var(--colors-color-palette-20);
  --colors-color-palette-40: var(--colors-color-palette-40);
  --colors-color-palette-60: var(--colors-color-palette-60);
  --colors-color-palette-80: var(--colors-color-palette-80);
  --colors-color-palette-100: var(--colors-color-palette-100);
  --colors-color-palette-5: var(--colors-color-palette-5);
  --colors-color-palette-30: var(--colors-color-palette-30);
  --colors-color-palette-50: var(--colors-color-palette-50);
  --colors-color-palette-70: var(--colors-color-palette-70);
  --colors-color-palette-90: var(--colors-color-palette-90)
}

.dark {
  --colors-ui\.5: rgba(255,255,255,0.05);
  --colors-ui\.10: rgba(255,255,255,0.1);
  --colors-ui\.20: rgba(255,255,255,0.2);
  --colors-ui\.30: rgba(255,255,255,0.3);
  --colors-ui\.40: rgba(255,255,255,0.4);
  --colors-ui\.50: rgba(255,255,255,0.5);
  --colors-ui\.60: rgba(255,255,255,0.6);
  --colors-ui\.70: rgba(255,255,255,0.7);
  --colors-ui\.80: rgba(255,255,255,0.8);
  --colors-ui\.90: rgba(255,255,255,0.9);
  --colors-ui\.100: rgb(255,255,255)
}
  }
  